@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
*{
    font-family: 'Montserrat', sans-serif;

}
html {
  scroll-behavior: smooth;
}



html,
body {
  height: 100%;
  color: var(--font-color);
}

:root {
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 24px;

  --border-radius: 12px;

  --font-color: #323232;
}
p{
  font-weight: 300;
}

h2 {
  margin: 0;
  margin-bottom: var(--spacing-2);
}

body {
  margin: 0;
  padding: 0 var(--spacing-3);
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  padding: var(--spacing-3) 0;
}

.navigation-items {
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
  margin: 0;
  margin-left: auto;
}

.navigation-item {
  margin: var(--spacing-1);
}

.portrait {
  width: 300px;
  border-radius: var(--border-radius);
  flex-shrink: 0;
}

.about-me-container {
  display: flex;
}

.about-me-text-container {
  margin-right: var(--spacing-3);
    text-align: justify;
}

.project-image {
  width: 50%;
}

.project-title h3 {
  display: inline;
}

details {
  cursor: pointer;
}

summary {
  list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}

footer {
  margin-top: auto;
  padding: var(--spacing-3) 0;
}

section {
  padding: var(--spacing-3) 0;
}

.icon {
  font-size: 2em;
  color: var(--font-color);
  margin: 0 var(--spacing-1);
}

a {
  color: var(--font-color);
  text-decoration: none;
  font-weight: 600;
}

#logo {
  margin: 0;
}

#technologies-container
{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
#form-container
{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

#technologies-container > *,
#form-container > *
{
  font-size: 2em;
  width: 2em;
  margin-top: var(--spacing-1);
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode a{
  background-color: black;
  color: white;
}

.dark-mode li{
  background-color: black;
  color: white;
}

#sun {
  display: none;
}


@media only screen and (max-width: 600px) {
  .about-me-container {
    flex-direction: column;
  }
  nav {
  display: flex;
  align-items: center;
  padding: var(--spacing-3) 0;
  flex-direction: column;
  width: 100%;
}
.navigation-items {
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
  margin: 0;
  margin-left: auto;
  width: 100%;
  flex-wrap: wrap;
}
}
